<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Chat we mgle!</title>
    <link rel="stylesheet" href="{% static 'chat.css' %}">
</head>
<body>


<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
        <div style="">

            <div class="center">
                <br/><br/>
                <a href="/login/"><button type="button" class="button" >Login</button></a>

            </div>

        <br/><br/>

        <div class="center">
            <a href="/signup/"><button type="button" class="button" >Register</button></a>

        </div>

        </div>

<br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/><br/>
<p align="center">
    Contact: dziecko@wemgle.com
</p>


</body>
</html>